<table border='0' cellspacing='5' cellpadding='5'>
  <tr>
    <th> Rank </th>
    <th> Title </th>
    <th> Author </th>
    <th> Language </th>
    <th> Year </th>
    <th> Copies </th>
  </tr>
  
  <% for item in @list_items %>
    <tr>
      <%= "<td>#{item['rank']}</td>" %>
      <%= "<td>#{item['title']}</td>" %>
      <%= "<td>#{item['author']}</td>" %>
      <%= "<td>#{item['language']}</td>" %>
      <%= "<td>#{item['year']}</td>" %>
      <%= "<td>#{item['copies']}</td>" %>
    </tr>
  <% end %>
  
</table>