<p id="notice"><%= notice %></p>

<p>
  <strong>Animal:</strong>
  <%= @line_item.animal %>
</p>

<p>
  <strong>Foster:</strong>
  <%= @line_item.foster %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
